.Service{
    width: 100%;
    height: auto;
}

.Serviceban h1{
    width: 100%;
    font-weight: bold;
    color: black;
    font-size: 3rem;
    display: inline-block;
    border-bottom: 1px solid black;
    
}

.Serviceban .card{
    background-color:black;
    color: white;
    display: grid;
    place-items: center;
    height: 400px;
    cursor: pointer;
}

.Serviceban .card .cardname{
    width: 80%;
    height: 70%;
    background-color: white;
    background-image: url(../../images/paper.jpg);
    margin: 10px 0;
    padding: 25px 20px;
    position: relative;
}

.Serviceban .card .cardname:hover{
    animation-name: twist;
    animation-duration:1s;
}

@keyframes twist{
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.Serviceban .card .cardname h1{
    font-size: 2rem;
    border-bottom: none;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid black;
    text-align: center;
}

.Serviceban .card .cardname p{
    position: absolute;
    top: 110px;
    font-size: 1.1rem;
    border-bottom: none;
    color: black;
    text-align: center;
}


@media screen and (max-width: 768px){
    .Serviceban h1{
        font-size:  2rem;
        text-align: center;
    }

    .Serviceban .card{
        height: 300px;
    }

    .Serviceban .card .cardname h1{
        font-size: 30px;
    }

    .Serviceban .card .cardname p{
        font-size: 10px;
    }
}