.feature{
  background-color: black;
  margin-bottom: -30px;
}

.footer-logo-box{
    display: grid;
    place-items: center;
}

.footer-logo-box img{
  width: 80%;
  margin-top:32px;
}

ul {
  list-style: none;  
  padding-left: 0!important;
}

footer ul li h4{
  font-size: 2rem;
  color: white;
  padding-top:20px;
  font-weight: bold;
  font-family: "Oswald", "sans-serif";
}

li{
  line-height: 30px;
  padding-left: 0!important;
  font-family:"open-sans",sans-serif ;
}

footer{
  color: #ffffff;
  font-size: 15px;
}

footer a, footer a:visited, footer ul li a{
  color: #ffffff;
  text-decoration: none;
}

footer a:hover, footer ul li a:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.small{
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}

.footer-icon{
  padding-right:20px;
}


.footer-copyright{
  padding-top:20px;
  margin-top:10px;
  padding-bottom: 20px;
}

.footer-social-icons{
  color:#ffffff;
}

.footer-copyright-text{
  color:#ffffff;
  text-align: left;
}

.footer-copyright-text2{
  color: #ffffff;
  text-align: right;
}

@media (max-width:767px){

  .footer-copyright-text{
    text-align: center;
    padding-bottom:10px;
  }

  .footer-copyright-text2{
    text-align: center;
    padding-top:10px;
  }

}

/* new social section */

.active{
  margin-top:5px;
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #fff;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: black;
  padding: 0 20px;
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 2.8em "Oswald", "sans-serif";
  color: #fff;
}
.footer-social-small {
  font-size: 0.6em;
  font-family: "Oswald", "sans-serif";
  padding: 0 20px;
}
.footer-social-overlap > a {
  font-size: 3em;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

@media only screen and (max-width: 768px) {
  .footer-social-connect {
    font-size: 2.5em;
  }
  .footer-social-overlap > a {
    font-size: 2.24em;
  }
}
@media only screen and (max-width: 568px) {
  .footer-social-section {
    justify-content: center;
  }
  .footer-social-section::after {
    top: 25%;
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .footer-social-connect {
    font-size: 2.4em;
  }
  .footer-social-overlap > a {
    font-size: 2.24em;
  }
}

@media (max-width: 768px ) {
  .feature{
    text-align: center;
  }
}
@media (max-width: 780px) {
  .row{
    margin-right: -10px;
  }
}
